!!!
%html{lang: "es"}
  %head
    %meta{charset: "utf-8"}/
    %title=@title+' - Secretaria - Admin Church'
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", name: "viewport"}/
    %meta{content: "yes", name: "apple-mobile-web-app-capable"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600", rel: "stylesheet"}/
    = stylesheet_link_tag :application, :media => "all"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag :application
    :javascript
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{href: "index.html"} Admin Church
          .nav-collapse
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  %i.icon-cog
                  Cuenta
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{href: "javascript:;"} Ajustes
                  %li
                    %a{href: "javascript:;"} Ayuda
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                  %i.icon-user
                  adminchurch.com
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{href: "javascript:;"} Perfil
                  %li
                    %a{href: "javascript:;"} Logout
            %form.navbar-search.pull-right
              %input.search-query{placeholder: "Buscar...", type: "text"}/
          / /.nav-collapse
        / /container
      / /navbar-inner
    / /navbar
    .subnavbar
      .subnavbar-inner
        .container
          %ul.mainnav
            %li.active
              %a{href: "#"}
                %span Ganar
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:;"}
                %span Consolidar
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Consolidando
                %li
                  %a{href: "#"} Asignar
                %li
                  %a{href: "#"} Actualización
                %li
                  %a{href: "#"} Clases
                %li
                  %a{href: "#"} Etc.
            %li
              %a{href: "#"}
                %span Discipular
            %li
              %a{href: "#"}
                %span Enviar
            %li
              %a{href: "#"}
                %span Contabilidad
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "javascript:;"}
                %span Más
                / b class="caret"></b
              %ul.dropdown-menu
                %li
                  %a{href: "#"} Comunicar
                %li
                  %a{href: "#"} Pedir
                %li
                  %a{href: "#"} Eventos
                %li
                  %a{href: "#"} Administrar
        / /container
      / /subnavbar-inner
    / /subnavbar
    .main
      .main-inner
        .container
          .row
            .span12
              = yield
          / /row
        / /container
      / /main-inner
    / /main
    .footer
      .footer-inner
        .container
          .row
            .span12
              © 2013
              = succeed "." do
                %a{href: "http://www.clmdevelopers.com/"} CLM Developers
            / /span12
          / /row
        / /container
      / /footer-inner
    / /footer
    /
    